.titulos{
    padding-left: 20px;
}

.principal{
    background: rgb(197, 197, 197);
    padding: 30px;
}

.banner{
    width: 100%;
}

.area{
    text-align: center;
}

.texto1{
    text-align: center;
}

.texto2{
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.strongem{
    color: red;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
	margin-right: 15%;
}

.itens{
    font-style: italic;
}

.img2{
    width: 50%;
}