.cabeca{
    background: #BBBBBB;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #e68200;
    text-decoration: underline;
}

.lista{
    position: absolute;
    top: 110px;
    right: 0px;
}

.divca{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.lista_principal{
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
}
.lista_principal li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0  1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.lista_principal li:hover{
    border-color: #e68200;
}
.lista_principal li:active  {
    border-color: green;
}

.preco{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.lista_principal li:hover h2 {
    font-size: 30px;
}