.cabeca{
    background: #BBBBBB;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
}