.cabeca{
    background: #BBBBBB;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.lista{
    position: absolute;
    top: 110px;
    right: 0px;
}

.divca{
    width: 940px;
    position: relative;
    margin: 0 auto;
}